$primary: #0077FF;

$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-special: Georgia, serif;

$spacer: 30px;

body{
    padding:20px;
    font-family: $font-base;
}

.header{
    border: 5px solid $primary;
    // text-align: center;
    padding: $spacer;

    &__title{
        color: $primary;
        font-family: $font-special;
        margin: 0;
    }
    
    &__menu{
        list-style: none;
        padding: 0;
    }
    
    &__link{
        background-color: $primary;
        color: white;
        padding: $spacer;
        display: block;
        text-decoration: none;

        &:hover{
            background-color: rgb(243, 202, 149);
            color: grey;
        }
    }
}


button{
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: $spacer /2;
    color: white;
    font-family: $font-special;
}

footer{
    margin-top: $spacer;
    padding: $spacer/2;
    background-color: $primary;
    color: white;

    @media (min-width: 700px){
        background-color: rgb(105, 246, 105);
        color: gray;
        }
    
    @media (min-width: 990px){
        background-color: black;
        color: white;
    }
}

