/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	padding: 0 50px 100px 50px;
	font-family: sans-serif;
}

h2 {
	margin-top: 50px;
}

.obdelnik {
	width: 300px;
	height: 100px;
}

.posun		{ background-color: #2ecc71;}
.rotace 	{ background-color: #e74c3c;}
.zvetseni	{ background-color: #3498db;}
.zkoseni	{ background-color: yellowgreen;}

/* ----------------------- */


.posun:hover{
	transform: translateX(100px);
}

.rotace:hover{
	transform: rotate(30deg);
}

.zvetseni:hover{
	transform: scale(1.5);
	transform-origin: top left;
}

.zkoseni:hover{
	transform: skewX(30deg);
}